* {
	all: unset;
	all: initial;
	font-family: "Fira Code";
	font-size: 14px;
}

window#waybar {
	background-color: #1F1F28;
}

label,
#tray>*>* {
	color: #DCD7BA;
	padding: 5px 10px;
}

label:hover,
button:hover,
#tray>*:hover {
	background-color: #2A2A37;
}

#workspaces label {
	color: #363646;
}

#workspaces button.active label {
	color: #DCD7BA;
}

#custom-system-open,
#custom-tray-open {
	font-size: 10px;
}

tooltip,
menu {
	background-color: rgba(31, 31, 40, 0.9);
	border: 1px solid #DCD7BA;
	padding: 1px;
}

menuitem:hover {
	background-color: rgba(42, 42, 55, 0.9);
}

#custom-shutdown {
	color: #C34043;
}

#custom-reboot {
	color: #98BB6C;
}

#custom-lock {
	color: #957FB8;
}
