* {
	all: unset;
	all: initial;
	font-family: "Fira Code";
	font-size: 14px;
}

window#waybar {
	/* Kanagawa */
	/* background-color: #1F1F28; */
	/* Gruvbox Material */
	background-color: #282828;
}

label,
#tray>*>* {
	/* Kanagawa */
	/* color: #DCD7BA; */
	/* Gruvbox Material */
	color: #D4BE98;
	padding: 5px 10px;
}

label:hover,
button:hover,
#tray>*:hover {
	/* Kanagawa */
	/* background-color: #2A2A37; */
	/* Gruvbox */
	background-color: #45403D;
}

#workspaces label {
	/* Kanagawa */
	/* color: #363646; */
	/* Gruvbox Material */
	color: #32302F
}

#workspaces button.active label {
	/* Kanagawa */
	/* color: #DCD7BA; */
	/* Gruvbox Material */
	color: #D4BE98;
}

#custom-system-open,
#custom-tray-open {
	font-size: 10px;
}

tooltip,
menu {
	/* Kanagawa */
	/* background-color: rgba(31, 31, 40, 0.9); */
	/* border: 1px solid #DCD7BA; */
	/* Gruvbox Material */
	background-color: rgba(40, 40, 40, 0.9);
	border: 1px solid #D4BE98;
	padding: 1px;
}

menuitem:hover {
	/* Kanagawa */
	/* background-color: rgba(42, 42, 55, 0.9); */
	/* Gruvbox Material */
	background-color: rgba(69, 64, 61, 0.9);
}

#custom-shutdown {
	/* Kanagawa */
	/* color: #C34043; */
	/* Gruvbox Material */
	color: #EA6962;
}

#custom-reboot {
	/* Kanagawa */
	/* color: #98BB6C; */
	/* Gruvbox Material */
	color: #A9B665;
}

#custom-lock {
	/* Kanagawa */
	/* color: #658594; */
	/* Gruvbox Material */
	color: #7DAEA3;
}
