* {
	font-family: FontAwesome, sans-serif;
	font-size: 14px;
}

window#waybar {
	background-color: #1F1F28;
	color: #DCD7BA;
}

#clock,
#custom-pacman,
#system,
#custom-system-open,
#cpu,
#memory,
#temperature,
#collapsible-tray,
#custom-tray-open,
#tray,
#pulseaudio,
#network,
#custom-power,
#custom-notification {
	padding: 0 10px;
}

#workspaces button {
	padding: 4px 8px;
}

#workspaces button.active {
	color: #DCD7BA;
}

/* #custom-notification { */
/* 	font-family: "NotoSansMono Nerd Font"; */
/* } */
